

<!-- <html>
  <img src="{{content['atr']}}" width="100" height="100">
  <p> Login: {{content['login']}}</p>
  <p> Id: {{content['id']}}</p>
  <p> Name: {{content['name']}}</p>
  <p> Followers: {{content['followers']}}</p>
  <p> Bio: {{content['bio']}}</p>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart(the_values, the_day) {

      var data = new google.visualization.DataTable();
      var options = {};

      // This is the default graph that is drawn when the site first loads in
      if (the_values == null || the_values == undefined){
        data.addColumn('number', 'Monday');
        data.addColumn('number', 'Commits');
        data.addRows({{content['commit'][1]}});

        options = {
          chart: {
            title: 'Commits on Monday',
            subtitle: ''
          },
          width: 900,
          height: 500,
          legend: { position: 'none' },
          axes: {
            x: {
              0: {side: 'bottom'}
            }
          },

        };

      }
      else {
        data.addColumn('number', the_day);
        data.addColumn('number', 'Commits');
        data.addRows(the_values);

        options = {
          chart: {
            title: 'Commits on '+the_day,
            subtitle: ''
          },
          width: 900,
          height: 500,
          legend: { position: 'none' },
          axes: {
            x: {
              0: {side: 'bottom'}
            }
          },

        };
      }


      var chart = new google.charts.Line(document.getElementById('g-mon'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>

</head>

<body>
  <div class="row">

  <!-- User info column -->
  <div class="col-sm-3">

    <!-- Card containing user information -->
    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{content['atr']}}" alt="Card image cap">
          <div class="card-body">

            <h5 class="card-title">Login</h5>
            <p class="card-text">{{content['login']}}</p>

            <h5 class="card-title">Bio</h5>
            <p class="card-text">{{content['bio']}}</p>

            <h5 class="card-title">Location</h5>
            <p class="card-text">{{content['location']}}</p>

            <p class="card-text">Followers:{{content['followers']}}</p>
            <p class="card-text">Following:{{content['following']}}</p>
            <p class="card-text">Repositories:{{content['public_repos']}}</p>
            <a href="{{content['profile_url']}}" class="card-link"> {{content['login']}} </a>
          </div>
        </div>

  </div>

  <!-- Repository commit time information -->
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">{{content['login']}} Commit History</h5>
      <div class="card-body">

        <!-- Repository drop down button -->
        <div class="dropdown">
          <button style ="background-color: #1E88E5; color: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Day
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onchange="changeBodyBg (this)">
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][1]}}, 'Monday')">Monday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][2]}}, 'Tuesday')">Tuesday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][3]}}, 'Wednesday')">Wednesday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][4]}}, 'Thursday')">Thursday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][5]}}, 'Friday')">Friday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][6]}}, 'Saturday')">Saturday</a>
              <a class="dropdown-item" href="javascript:drawChart({{content['commit'][0]}}, 'Sunday')">Sunday</a>
          </div>
      </div>

        <p> </p>
        <!-- Commit History Google Graph-->
        <div id="g-mon"> </div>

      </div>
    </div>

  </div>

  <!-- Language Pie chart column -->
  <div class="col-sm-3">.col-sm-3</div>


</body>

</html>
