
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
  <div class="wrap">
   <div class="search">

     <form method="post">

       <input name="b1" type="text" class="searchTerm" placeholder="Github Token">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
      
     </form>

   </div>
</div>
</body>


</html>
